<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062608794290-qc4essq3ndsj1hqio33781p2fj1u5qvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062608794290-qc4essq3ndsj1hqio33781p2fj1u5qvg</string>
	<key>API_KEY</key>
	<string>AIzaSyCJPBKIE65_AZSqgoh25F5K9_gnBw5EjZE</string>
	<key>GCM_SENDER_ID</key>
	<string>1062608794290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFcm</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-cba29</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-cba29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062608794290:ios:78b5056b822c5331c28fab</string>
</dict>
</plist>